__pycache__/
*.py[cod]
.eggs/

# Distribution
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

TAGS
cscope.files
cscope.out
__pycache__/
*.pyc 
debug.log
geckodriver.log
db.sqlite3
.coverage
.env
